<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{toAbsolute 'css/style.css'}}" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{toAbsolute 'favicon.ico'}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>{{#if pageTitle}}{{pageTitle}}{{else}}{{title}}{{/if}} - RomaJS</title>
</head>
