
<nav role="navigation">
  <ul class="romajs-nav-list">
    <li><a href="{{urlPrefix}}/">Home</a></li>
    {{#each collections.pages}}
      <li><a href="{{../urlPrefix}}/{{path}}">{{title}}</a></li>
    {{/each}}
  </ul>
</nav>


<div style="display: none">
{{#each collections}}
  <li>
    <a href="#">{{@key}} <span class="carret"></span></a>
      <div>
        <ul>
          {{#each this}}
            <li><a href="/{{path}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
  </li>
{{/each}}
</div>
