<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h1 class="text-center"> {{pageTitle}} </h1>
    {{{ contents }}}
    {{#each pagination.files }}
      <li class="post">
          <h2 class="entry-title">
              <a href="{{toAbsolute this.path }}" rel="bookmark">{{ this.title }}</a>
          </h2>
          <article class="entry-summary">
              {{{ this.excerpt }}}
          </article>
          <footer>

              <a href="{{toAbsolute this.path }}" class="button">Read More</a>
          </footer>
      </li>
    {{/each}}
    
    {{#if pagination}}
        <nav class="pagination">
            {{#if pagination.previous}}
                <a href="{{toAbsolute pagination.previous.path }}">&lt; Prev</a>
            {{/if}}

            {{#if pagination.next}}
                <a href="{{toAbsolute pagination.next.path }}">Next &gt;</a>
            {{/if}}
        </nav>
    {{/if}}
  </div>
</div>
